# Configuration file

~CONFIG_VERSION: 1

overrides {
    # List of items that can have skins applied.
    # Format [override type:mod id:item name]
    # Valid override types are:
    # sword
    # item
    # pickaxe
    # axe
    # shovel
    # hoe
    # bow
    S:itemOverrides <
        sword:weaponmod:battleaxe.wood
        sword:weaponmod:battleaxe.stone
        sword:weaponmod:battleaxe.iron
        sword:weaponmod:battleaxe.diamond
        sword:weaponmod:battleaxe.gold
        sword:weaponmod:warhammer.wood
        sword:weaponmod:warhammer.stone
        sword:weaponmod:warhammer.iron
        sword:weaponmod:warhammer.diamond
        sword:weaponmod:warhammer.gold
        sword:weaponmod:katana.wood
        sword:weaponmod:katana.stone
        sword:weaponmod:katana.iron
        sword:weaponmod:katana.diamond
        sword:weaponmod:katana.gold
        
        sword:battlegear2:waraxe.wood
        sword:battlegear2:waraxe.stone
        sword:battlegear2:waraxe.iron
        sword:battlegear2:waraxe.diamond
        sword:battlegear2:waraxe.gold
        sword:battlegear2:mace.wood
        sword:battlegear2:mace.stone
        sword:battlegear2:mace.iron
        sword:battlegear2:mace.diamond
        sword:battlegear2:mace.gold
        sword:battlegear2:spear.wood
        sword:battlegear2:spear.stone
        sword:battlegear2:spear.iron
        sword:battlegear2:spear.diamond
        sword:battlegear2:spear.gold
        
        sword:betterstorage:cardboardSword
        
        sword:Botania:manasteelSword
        sword:Botania:elementiumSword
        sword:Botania:terraSword
        sword:Botania:starSword
        pickaxe:Botania:manasteelPick
        pickaxe:Botania:elementiumPick
        pickaxe:Botania:terraPick
        axe:Botania:manasteelAxe
        axe:Botania:elementiumAxe
        axe:Botania:terraAxe
        shovel:Botania:manasteelShovel
        shovel:Botania:elementiumShovel
        
        sword:glass_shards:glass_sword
        
        sword:maplecrafted:item.axe1
        sword:maplecrafted:item.axe2
        sword:maplecrafted:item.axe4
        sword:maplecrafted:item.axe5
        sword:maplecrafted:item.axe6
        sword:maplecrafted:item.axe7
        sword:maplecrafted:item.axe8
        sword:maplecrafted:item.axe9
        sword:maplecrafted:item.axe10
        sword:maplecrafted:item.axe11
        sword:maplecrafted:item.axe12
        sword:maplecrafted:item.axe13
        sword:maplecrafted:item.axe14
        sword:maplecrafted:item.axe15
        sword:maplecrafted:item.axe16
        sword:maplecrafted:item.axe17
        sword:maplecrafted:item.axe18
        sword:maplecrafted:item.axe19
        sword:maplecrafted:item.axe20
        sword:maplecrafted:item.axe21
        sword:maplecrafted:item.axe22
        sword:maplecrafted:item.axe23
        sword:maplecrafted:item.axe24
        sword:maplecrafted:item.axe25
        sword:maplecrafted:item.axe26
        sword:maplecrafted:item.axe27
        sword:maplecrafted:item.axe28
        sword:maplecrafted:item.axe29
        sword:maplecrafted:item.axe30
        sword:maplecrafted:item.axe31
        sword:maplecrafted:item.axe32
        sword:maplecrafted:item.makuLUK
        sword:maplecrafted:item.exiledKillic
        sword:maplecrafted:item.makusumaLUK
        sword:maplecrafted:item.duskRavensBeak
        sword:maplecrafted:item.serpentsCoil
        sword:maplecrafted:item.razor
        sword:maplecrafted:item.fruitKnife
        sword:maplecrafted:item.diamondDagger
        sword:maplecrafted:item.nebulaDaggerLUK
        sword:maplecrafted:item.makusumaSTR
        sword:maplecrafted:item.makuSTR
        sword:maplecrafted:item.luminousHeavenDagger
        sword:maplecrafted:item.nebulaDaggerSTR
        sword:maplecrafted:item.koreanFan
        sword:maplecrafted:item.angelicBetrayal
        sword:maplecrafted:item.cursayer
        sword:maplecrafted:item.sai
        sword:maplecrafted:item.coconutKnife
        sword:maplecrafted:item.ravensBeak
        sword:maplecrafted:item.dragonKanzir
        sword:maplecrafted:item.timelessPescas
        sword:maplecrafted:item.bazlud
        sword:maplecrafted:item.ironDagger
        sword:maplecrafted:item.cass
        sword:maplecrafted:item.balrogsAngelicBetrayal
        sword:maplecrafted:item.forkedDagger
        sword:maplecrafted:item.goldenRiver
        sword:maplecrafted:item.berylMapleLightsplitter
        sword:maplecrafted:item.mapleDarkMate
        sword:maplecrafted:item.fieldDagger
        sword:maplecrafted:item.desperado1
        sword:maplecrafted:item.desperado2
        sword:maplecrafted:item.desperado3
        sword:maplecrafted:item.desperado4
        sword:maplecrafted:item.desperado5
        sword:maplecrafted:item.desperado6
        sword:maplecrafted:item.desperado7
        sword:maplecrafted:item.desperado8
        sword:maplecrafted:item.desperado9
        sword:maplecrafted:item.desperado10
        sword:maplecrafted:item.desperado11
        sword:maplecrafted:item.desperado12
        sword:maplecrafted:item.desperado13
        sword:maplecrafted:item.desperado14
        sword:maplecrafted:item.desperado15
        sword:maplecrafted:item.desperado16
        sword:maplecrafted:item.desperado17
        sword:maplecrafted:item.desperado18
        sword:maplecrafted:item.desperado19
        sword:maplecrafted:item.desperado20
        sword:maplecrafted:item.katana1
        sword:maplecrafted:item.katana2
        sword:maplecrafted:item.katana3
        sword:maplecrafted:item.katana4
        sword:maplecrafted:item.katana5
        sword:maplecrafted:item.katana6
        sword:maplecrafted:item.katana7
        sword:maplecrafted:item.katana8
        sword:maplecrafted:item.katana9
        sword:maplecrafted:item.katana10
        sword:maplecrafted:item.katana11
        sword:maplecrafted:item.katana12
        sword:maplecrafted:item.katana13
        sword:maplecrafted:item.katana14
        sword:maplecrafted:item.katana15
        sword:maplecrafted:item.katana16
        sword:maplecrafted:item.katana17
        sword:maplecrafted:item.katana18
        sword:maplecrafted:item.katana19
        sword:maplecrafted:item.mace1
        sword:maplecrafted:item.mace2
        sword:maplecrafted:item.mace3
        sword:maplecrafted:item.mace4
        sword:maplecrafted:item.mace5
        sword:maplecrafted:item.mace6
        sword:maplecrafted:item.mace7
        sword:maplecrafted:item.mace8
        sword:maplecrafted:item.mace10
        sword:maplecrafted:item.mace11
        sword:maplecrafted:item.mace12
        sword:maplecrafted:item.mace13
        sword:maplecrafted:item.mace14
        sword:maplecrafted:item.mace15
        sword:maplecrafted:item.mace16
        sword:maplecrafted:item.mace17
        sword:maplecrafted:item.mace18
        sword:maplecrafted:item.mace19
        sword:maplecrafted:item.mace20
        sword:maplecrafted:item.mace21
        sword:maplecrafted:item.mace22
        sword:maplecrafted:item.mace23
        sword:maplecrafted:item.mace24
        sword:maplecrafted:item.mace25
        sword:maplecrafted:item.mace26
        sword:maplecrafted:item.mace27
        sword:maplecrafted:item.mace28
        sword:maplecrafted:item.mace29
        sword:maplecrafted:item.mace30
        sword:maplecrafted:item.mace31
        sword:maplecrafted:item.mace32
        sword:maplecrafted:item.mace33
        sword:maplecrafted:item.mace34
        sword:maplecrafted:item.mace35
        sword:maplecrafted:item.mace36
        sword:maplecrafted:item.polearm1
        sword:maplecrafted:item.polearm2
        sword:maplecrafted:item.polearm3
        sword:maplecrafted:item.polearm4
        sword:maplecrafted:item.polearm5
        sword:maplecrafted:item.polearm6
        sword:maplecrafted:item.polearm7
        sword:maplecrafted:item.polearm8
        sword:maplecrafted:item.polearm9
        sword:maplecrafted:item.polearm10
        sword:maplecrafted:item.polearm11
        sword:maplecrafted:item.polearm12
        sword:maplecrafted:item.polearm13
        sword:maplecrafted:item.polearm14
        sword:maplecrafted:item.polearm15
        sword:maplecrafted:item.polearm16
        sword:maplecrafted:item.polearm17
        sword:maplecrafted:item.polearm18
        sword:maplecrafted:item.polearm19
        sword:maplecrafted:item.polearm20
        sword:maplecrafted:item.polearm21
        sword:maplecrafted:item.polearm22
        sword:maplecrafted:item.polearm24
        sword:maplecrafted:item.polearm25
        sword:maplecrafted:item.polearm26
        sword:maplecrafted:item.polearm27
        sword:maplecrafted:item.polearm28
        sword:maplecrafted:item.polearm29
        sword:maplecrafted:item.polearm30
        sword:maplecrafted:item.polearm31
        sword:maplecrafted:item.polearm32
        sword:maplecrafted:item.polearm33
        sword:maplecrafted:item.polearm34
        sword:maplecrafted:item.polearm35
        sword:maplecrafted:item.polearm36
        sword:maplecrafted:item.polearm37
        sword:maplecrafted:item.polearm38
        sword:maplecrafted:item.polearm39
        sword:maplecrafted:item.polearm40
        sword:maplecrafted:item.polearm41
        sword:maplecrafted:item.polearm42
        sword:maplecrafted:item.polearm43
        sword:maplecrafted:item.polearm44
        sword:maplecrafted:item.spear1
        sword:maplecrafted:item.spear2
        sword:maplecrafted:item.spear3
        sword:maplecrafted:item.spear4
        sword:maplecrafted:item.spear5
        sword:maplecrafted:item.spear6
        sword:maplecrafted:item.spear7
        sword:maplecrafted:item.spear8
        sword:maplecrafted:item.spear9
        sword:maplecrafted:item.spear10
        sword:maplecrafted:item.spear11
        sword:maplecrafted:item.spear12
        sword:maplecrafted:item.spear13
        sword:maplecrafted:item.spear14
        sword:maplecrafted:item.spear15
        sword:maplecrafted:item.spear16
        sword:maplecrafted:item.spear17
        sword:maplecrafted:item.spear18
        sword:maplecrafted:item.spear19
        sword:maplecrafted:item.spear20
        sword:maplecrafted:item.spear21
        sword:maplecrafted:item.spear22
        sword:maplecrafted:item.spear23
        sword:maplecrafted:item.spear24
        sword:maplecrafted:item.spear25
        sword:maplecrafted:item.spear26
        sword:maplecrafted:item.spear27
        sword:maplecrafted:item.spear28
        sword:maplecrafted:item.spear29
        sword:maplecrafted:item.spear30
        sword:maplecrafted:item.spear31
        sword:maplecrafted:item.spear32
        sword:maplecrafted:item.spear33
        sword:maplecrafted:item.spear34
        sword:maplecrafted:item.spear35
        sword:maplecrafted:item.spear36
        sword:maplecrafted:item.sword1
        sword:maplecrafted:item.sword2
        sword:maplecrafted:item.sword3
        sword:maplecrafted:item.sword4
        sword:maplecrafted:item.sword5
        sword:maplecrafted:item.sword6
        sword:maplecrafted:item.sword7
        sword:maplecrafted:item.sword8
        sword:maplecrafted:item.sword9
        sword:maplecrafted:item.sword10
        sword:maplecrafted:item.sword11
        sword:maplecrafted:item.sword12
        sword:maplecrafted:item.sword13
        sword:maplecrafted:item.sword14
        sword:maplecrafted:item.sword15
        sword:maplecrafted:item.sword16
        sword:maplecrafted:item.sword17
        sword:maplecrafted:item.sword18
        sword:maplecrafted:item.sword19
        sword:maplecrafted:item.sword20
        sword:maplecrafted:item.sword21
        sword:maplecrafted:item.sword22
        sword:maplecrafted:item.sword23
        sword:maplecrafted:item.sword24
        sword:maplecrafted:item.sword25
        sword:maplecrafted:item.sword26
        sword:maplecrafted:item.sword27
        sword:maplecrafted:item.sword28
        sword:maplecrafted:item.sword29
        sword:maplecrafted:item.sword30
        sword:maplecrafted:item.sword31
        sword:maplecrafted:item.sword32
        sword:maplecrafted:item.sword33
        sword:maplecrafted:item.sword34
        sword:maplecrafted:item.sword35
        sword:maplecrafted:item.sword36
        sword:maplecrafted:item.sword37
        sword:maplecrafted:item.sword38
        sword:maplecrafted:item.sword39
        sword:maplecrafted:item.sword40
        sword:maplecrafted:item.sword41
        sword:maplecrafted:item.sword42
        sword:maplecrafted:item.sword43
        sword:maplecrafted:item.sword44
        sword:maplecrafted:item.sword45
        sword:maplecrafted:item.sword46
        sword:maplecrafted:item.sword47
        sword:maplecrafted:item.sword48
        sword:maplecrafted:item.sword49
        sword:maplecrafted:item.sword50
        sword:maplecrafted:item.sword51
        sword:maplecrafted:item.sword52
        sword:maplecrafted:item.sword53
        sword:maplecrafted:item.sword54
        sword:maplecrafted:item.sword55
        sword:maplecrafted:item.sword57
        
        sword:MekanismTools:ObsidianSword
        sword:MekanismTools:LapisLazuliSword
        sword:MekanismTools:OsmiumSword
        sword:MekanismTools:BronzeSword
        sword:MekanismTools:GlowstoneSword
        sword:MekanismTools:SteelSword
        
        sword:Metallurgy:copper.sword
        sword:Metallurgy:bronze.sword
        sword:Metallurgy:hepatizon.sword
        sword:Metallurgy:damascus.steel.sword
        sword:Metallurgy:angmallen.sword
        sword:Metallurgy:steel.sword
        sword:Metallurgy:eximite.sword
        sword:Metallurgy:desichalkos.sword
        sword:Metallurgy:prometheum.sword
        sword:Metallurgy:deep.iron.sword
        sword:Metallurgy:black.steel.sword
        sword:Metallurgy:oureclase.sword
        sword:Metallurgy:astral.silver.sword
        sword:Metallurgy:carmot.sword
        sword:Metallurgy:mithril.sword
        sword:Metallurgy:quicksilver.sword
        sword:Metallurgy:haderoth.sword
        sword:Metallurgy:orichalcum.sword
        sword:Metallurgy:celenegil.sword
        sword:Metallurgy:adamantine.sword
        sword:Metallurgy:atlarus.sword
        sword:Metallurgy:tartarite.sword
        sword:Metallurgy:ignatius.sword
        sword:Metallurgy:shadow.iron.sword
        sword:Metallurgy:midasium.sword
        sword:Metallurgy:vyroxeres.sword
        sword:Metallurgy:ceruclase.sword
        sword:Metallurgy:kalendrite.sword
        sword:Metallurgy:vulcanite.sword
        sword:Metallurgy:sanguinite.sword
        sword:Metallurgy:shadow.steel.sword
        sword:Metallurgy:inolashite.sword
        sword:Metallurgy:amordrine.sword
        sword:Metallurgy:silver.sword
        sword:Metallurgy:platinum.sword
        sword:Metallurgy:brass.sword
        sword:Metallurgy:electrum.sword
        
        sword:minecraft:wooden_sword
        sword:minecraft:stone_sword
        sword:minecraft:iron_sword
        sword:minecraft:golden_sword
        sword:minecraft:diamond_sword
        bow:minecraft:bow
        pickaxe:minecraft:wooden_pickaxe
        pickaxe:minecraft:stone_pickaxe
        pickaxe:minecraft:iron_pickaxe
        pickaxe:minecraft:golden_pickaxe
        pickaxe:minecraft:diamond_pickaxe
        axe:minecraft:wooden_axe
        axe:minecraft:stone_axe
        axe:minecraft:iron_axe
        axe:minecraft:golden_axe
        axe:minecraft:diamond_axe
        shovel:minecraft:wooden_shovel
        shovel:minecraft:stone_shovel
        shovel:minecraft:iron_shovel
        shovel:minecraft:golden_shovel
        shovel:minecraft:diamond_shovel
        hoe:minecraft:wooden_hoe
        hoe:minecraft:stone_hoe
        hoe:minecraft:iron_hoe
        hoe:minecraft:golden_hoe
        hoe:minecraft:diamond_hoe
        
        sword:MSM3:dawnStar
        sword:MSM3:vampiric
        sword:MSM3:gladiolus
        sword:MSM3:draconic
        sword:MSM3:ender
        sword:MSM3:crystal
        sword:MSM3:glacial
        sword:MSM3:aether
        sword:MSM3:wither
        sword:MSM3:admin
        
        sword:OreSpawn:OreSpawn_Bertha
        sword:OreSpawn:OreSpawn_UltimateSword
        sword:OreSpawn:OreSpawn_BattleAxe
        sword:OreSpawn:OreSpawn_Royal
        sword:OreSpawn:OreSpawn_Slice
        sword:OreSpawn:OreSpawn_Hammy
        sword:OreSpawn:OreSpawn_NightmareSword
        sword:OreSpawn:OreSpawn_QueenBattleAxe
        sword:OreSpawn:OreSpawn_Chainsaw
        sword:OreSpawn:OreSpawn_EmeraldSword
        sword:OreSpawn:OreSpawn_RoseSword
        sword:OreSpawn:OreSpawn_ExperienceSword
        sword:OreSpawn:OreSpawn_PoisonSword
        sword:OreSpawn:OreSpawn_RatSword
        sword:OreSpawn:OreSpawn_FairySword
        sword:OreSpawn:OreSpawn_CrystalPinkSword
        sword:OreSpawn:OreSpawn_TigersEyeSword
        sword:OreSpawn:OreSpawn_CrystalStoneSword
        sword:OreSpawn:OreSpawn_CrystalWoodSword
        sword:OreSpawn:OreSpawn_RubySword
        sword:OreSpawn:OreSpawn_AmethystSword
        sword:OreSpawn:OreSpawn_UltimatePickaxe
        sword:OreSpawn:OreSpawn_BigHammer
        
        sword:Thaumcraft:ItemSwordElemental
        sword:Thaumcraft:ItemSwordThaumium
        sword:Thaumcraft:ItemSwordVoid
        
        sword:TConstruct:longsword
        sword:TConstruct:broadsword
        sword:TConstruct:cleaver
        sword:TConstruct:battleaxe
        sword:TConstruct:rapier
        sword:TConstruct:cutlass
        
        sword:TwilightForest:item.ironwoodSword
        sword:TwilightForest:item.fierySword
        sword:TwilightForest:item.steeleafSword
        sword:TwilightForest:item.knightlySword
        sword:TwilightForest:item.iceSword
        sword:TwilightForest:item.glassSword
        
        sword:zeldaswordskills:zss.sword_darknut
        sword:zeldaswordskills:zss.sword_kokiri
        sword:zeldaswordskills:zss.sword_ordon
        sword:zeldaswordskills:zss.sword_giant
        sword:zeldaswordskills:zss.sword_biggoron
        sword:zeldaswordskills:zss.sword_master
        sword:zeldaswordskills:zss.sword_tempered
        sword:zeldaswordskills:zss.sword_golden
        sword:zeldaswordskills:zss.sword_master_true
     >
}


