# Configuration file

"1a) nuclear furnace speed multiplier" {
    # Nuclear Furnace Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1b) nuclear furnace fuel usage multiplier" {
    # Nuclear Furnace Fuel Usage Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1c) metal furnace speed multiplier" {
    # Metal Furnace Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1d) metal furnace fuel usage multiplier" {
    # Metal Furnace Fuel Usage Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1e) crusher speed multiplier" {
    # Crusher Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1f) crusher fuel usage multiplier" {
    # Crusher Fuel Usage Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1g) electic crusher speed multiplier" {
    # Electric Crusher Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1i) electic furnace speed multiplier" {
    # Electic Furnace Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1k) isotope separator speed multiplier" {
    # Isotope Separator Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1l) decay hastener speed multiplier" {
    # Decay Hastener Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"1m) helium collector speed multiplier" {
    # Helium Collector Speed Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"2a) reaction generator rf production multiplier" {
    # Reaction Generator RF Production Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"2b) reaction generator efficiency multiplier" {
    # Reaction Generator Efficiency Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"2c) fission reactor rf production multiplier" {
    # Fission Reactor RF Production Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"2d) fission reactor efficiency multiplier" {
    # Fission Reactor Efficiency Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


"2e) rtg rf production multiplier" {
    # RTG RF Production Multiplier [range: 20 ~ 500, default: 100]
    I:"(Default: 100)"=100
}


