# Configuration file

bloodmagic {
    # Enable Uncharged Nether Star
    B:unchargedNetherStar=true
}


exastris {
    # Allow Upgrades for Automatic Sieve/Hammer
    B:allowUpgradesKey=true

    # Allow Automatic Hammerer
    B:autoHammer=true

    # Enable Automatic Sieve
    B:autoSieve=true

    # Base RF/t that is consumed by the Automatic Sieve
    I:autoSieveEnergy=40

    # %ge that each Fortune Upgrade will increase the chance of a drop to double in the Automatic Sieve. Strictly speaking, the chance of the drops being multiplied X times is binomially distributed, with n=64 trials, and probability of success defined here. A value of 1 gives a 22% chance to triple a drop with 64 Fortune Upgrades.
    I:autoSieveFortuneChance=1

    # If true, Fortune upgrades will give more of each item.
    B:autoSieveFortuneExtraDrops=true

    # If true, Fortune upgrades will give extra 'chances' to get each item.
    B:autoSieveFortuneExtraRolls=true

    # Amount of RF that each Fortune Upgrade costs
    I:autoSieveRFIncrease=10

    # Enable EnderIO Recipes
    B:enableEIORecipes=true

    # Enable Thermal Expansion/Foundation Recipes
    B:enableTERecipes=true

    # Enable End Cake
    B:endCake=false

    # Base RF/t that is consumed by the Automatic Hammerer
    I:hammerAutomaticBaseEnergy=40
}


magicbees {
    # Enable Mana Infused Hives
    B:infusedArtificialHive=true
}


metallurgy {
    # Enable Metallurgy Ores from Sifting
    B:metallurgySifting=true
}


minefactoryreloaded {
    # Add MFR items to be composted
    B:MFRCompost=true

    # Add Rubber Tree Seed from Dirt
    B:MFRSeed=true
}


natura {
    # Allow Natura Plants to be obtained via sifting
    B:naturaSifting=true
}


redstonearsenal {
    # Enable RF Hammer
    B:fluxHammer=true

    # Enable Freezing Doll
    B:freezingDoll=true
}


rotarycraft {
    # Enable Strongly Compressed Stone
    B:stronglyCompressedStone=true
}


thaumcraft {
    # Enable Thaumcraft Research
    B:research=true

    # Add Thaumcraft Items as heat source for Crucible etc
    B:thaumHeat=true

    # Enable Thaumic Doll
    B:thaumicDoll=true

    # Enable Thaumium Barrel
    B:thaumiumBarrel=true

    # Enable Thaumium Hammer
    B:thaumiumHammer=true
}


thermalexpansion {
    # Add Thermal Expansion Items and Fluids as heat sources for Crucible etc
    B:thermalHeat=true

    # Add Thermal Expansion Hive Recipes
    B:thermalHives=true
}


tinkersconstruct {
    # Add Tinkers Modifiers (Smashing and Crooked
    B:modifiers=true

    # Allow OreBerry bushes to be obtained via sifting
    B:oreberryBushes=true

    # Add Tinkers Items as a heat source for Crucible etc
    B:tinkersHeat=true

    # Add Tinkers Nether Ores from sifter
    B:tinkersOresFromSifting=true
}


tinkerssteelworks {
    # Allow Dusts etc to be melted in the High Oven
    B:steelworksMelting=true
}


