# Configuration file

##########################################################################################################
# addons
#--------------------------------------------------------------------------------------------------------#
# Controls loading of different addons, set to false to disable
##########################################################################################################

addons {
}


