# Configuration file

entropyaccelerator {
    # The amount of energy that can be stored in the block [range: 100 ~ 10000, default: 2000]
    I:buffer=2000

    # How many ticks an item will burn [range: 20 ~ 1000, default: 100]
    I:burnTime=100

    # The RF generated per tick [range: 1 ~ 10, default: 4]
    I:output=4
}


quibitcluster {
    # The base amount of RF the Quibit Clusters can hold [range: 100000 ~ 1000000, default: 500000]
    I:baseStorage=500000

    # The base RF/tick the Quibit Clusters can do [range: 50 ~ 1000, default: 100]
    I:baseTransferRate=100

    # The base RF/tick the Quibit Clusters can do [range: 4 ~ 6, default: 5]
    I:multiplier=5
}


redfluxfield {
    # The internal storage of each player's field [range: 100000 ~ 2147483647, default: 1000000]
    I:buffer=1000000

    # How much rf/tick the quibit cell can charge per item [range: 100 ~ 5000, default: 500]
    I:quibitCell_output=500

    # The max output an RF Exciter can do [range: 100 ~ 100000, default: 10000]
    I:rfExciter_output=10000
}


zeropointextractor {
    # Enable the Zero Point Extractor [default: true]
    B:enabled=true

    # Enable particle effect [default: true]
    B:particles=true

    # The maximum amount of rf/t it can generate [range: 64 ~ 256, default: 150]
    I:powerGen=64
}


