# Configuration file

router {
    # Regex, you can blacklist unwanted inventory here
    # will make it mark the inventory as a non valid
    # It will not scan for any inventory past this
    S:Blacklist <
        AE2*
        *pipe*
     >

    # how many machines to serve on each active tick
    I:machinesprtick=1

    # Amount of ticks between the world scans for inventory
    I:scanforinventory_tickrate=20

    # Amount of ticks between each transfer of items
    I:tickrate=2
    I:version=2
}


