# Configuration file

"alchemy potion blacklist" {
    B:Absorption=false
    B:Blindness=false
    B:Boost=false
    B:Deafness=false
    B:Drowning=false
    B:"Fire Resistance"=false
    B:Flight=false
    B:"Health Boost"=false
    B:"Instant Health"=false
    B:Invisibility=false
    B:"Jump Boost"=false
    B:"Mining Speed"=false
    B:"Move Speed"=false
    B:"Night Vision"=false
    B:"Planar Binding"=false
    B:Poison=false
    B:Reciprocation=false
    B:Regeneration=false
    B:Resistance=false
    B:Saturation=false
    B:Slowness=false
    B:"Soul Fray"=false
    B:"Soul Harden"=false
    B:Strength=false
    B:"Water Breathing"=false
    B:Weakness=false
}


clientsettings {
    I:AlchemyHUDxOffset=50
    I:AlchemyHUDyOffset=2
    I:LPHUDxOffset=12
    I:LPHUDyOffset=75
}


"demon configs" {
    I:"Building Grid Delay"=25
    D:"Demon Hoard Chance"=0.800000011920929
    I:"Demon Hoard Delay"=40
    D:"Demon House Chance"=0.6000000238418579
    D:"Demon Portal Chance"=0.5
    D:"Demon Road Chance"=0.30000001192092896
    B:IsDemonRitualCreativeOnly=false
    D:"Portal Tick Rate"=0.10000000149011612
    I:"Road Grid Delay"=10
    B:canRoadGoDown=true
    B:createBridgeInAirIfObstructed=false
    I:demonGridSpaceLimit=100
    I:demonHoardLimit=100
    B:tunnelIfObstructed=false
}


"dungeon loot chances" {
    I:averageLengtheningCatalyst=10
    I:averagePowerCatalyst=10
    I:greaterLengtheningCatalyst=5
    I:greaterPowerCatalyst=5
    I:mundaneLengtheningCatalyst=20
    I:mundanePowerCatalyst=20
    I:standardBindingAgent=30
}


meteor {
    S:diamondMeteor <
        oreDiamond
        100
        oreEmerald
        75
        oreCinnabar
        200
        oreAmber
        200
     >
    I:diamondMeteorRadius=5
    B:doMeteorsDestroyBlocks=true
    S:ironBlockMeteor <
        oreIron
        400
        oreGold
        30
        oreCopper
        200
        oreTin
        140
        oreSilver
        70
        oreLead
        80
        oreLapis
        60
        oreRedstone
        100
     >
    I:ironBlockMeteorRadius=7
    I:maxChance=1000
    S:netherStarMeteor <
        oreDiamond
        150
        oreEmerald
        100
        oreQuartz
        250
        oreSunstone
        5
        oreMoonstone
        50
        oreIridium
        5
        oreCertusQuartz
        150
     >
    I:netherStarMeteorRadius=3
    S:stoneBlockMeteor <
        oreCoal
        150
        oreApatite
        50
        oreIron
        50
     >
    I:stoneMeteorRadius=16
}


orecrushing {
    S:allowedOres <
        iron
        gold
        copper
        tin
        lead
        silver
        osmium
     >
}


"potion id" {
    I:Amphibian=116
    I:Boost=101
    I:Deaf=113
    I:DemonCloak=115
    I:Drowning=100
    I:FeatherFall=114
    I:FireFuse=109
    I:FlameCloak=106
    I:Flight=104
    I:HeavyHeart=108
    I:IceCloak=107
    I:Inhibit=103
    I:PlanarBinding=110
    I:ProjProt=102
    I:Reciprocation=105
    I:SoulFray=111
    I:SoulHarden=112
}


"ritual blacklist" {
    B:"Aura of Expulsion"=false
    B:"Ballad of Alchemy"=false
    B:"Birth of the Bastion"=false
    B:"Call of the Zephyr"=false
    B:"Convocation of the Damned"=false
    B:"Cry of the Eternal Soul"=false
    B:"Dome of Supression"=false
    B:"Duet of the Fused Souls"=false
    B:"Focus of the Ellipsoid"=false
    B:"Interdiction Ritual"=false
    B:"Mark of the Falling Tower"=false
    B:"Orchestra of the Phantom Hands"=false
    B:"Reap of the Harvest Moon"=false
    B:"Requiem of the Satiated Stomach"=false
    B:"Reverence of the Condor"=false
    B:"Rhythm of the Beating Anvil"=false
    B:"Ritual of Binding"=false
    B:"Ritual of Containment"=false
    B:"Ritual of Gaia's Transformation"=false
    B:"Ritual of Magnetism"=false
    B:"Ritual of Regeneration"=false
    B:"Ritual of Speed"=false
    B:"Ritual of Unbinding"=false
    B:"Ritual of the Crusher"=false
    B:"Ritual of the Feathered Earth"=false
    B:"Ritual of the Feathered Knife"=false
    B:"Ritual of the Full Spring"=false
    B:"Ritual of the Green Grove"=false
    B:"Ritual of the High Jump"=false
    B:"Ritual of the Shepherd"=false
    B:"Serenade of the Nether"=false
    B:"Song of Evaporation"=false
    B:"Symmetry of the Omega"=false
    B:"Veil of Evil"=false
    B:"Ward of Sacrosanctity"=false
    B:"Well of Suffering"=false
}


"teleposer blacklist" {
    # Stops specified blocks from being teleposed. Put entries on new lines. Valid syntax is: 
    # modid:blockname:meta
    S:Blacklist <
     >
}


wellofsufferingblacklist {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.MinorDemonGrunt=false
    B:AWWayofTime.MinorDemonGruntEarth=false
    B:AWWayofTime.MinorDemonGruntFire=false
    B:AWWayofTime.MinorDemonGruntGuardian=false
    B:AWWayofTime.MinorDemonGruntGuardianEarth=false
    B:AWWayofTime.MinorDemonGruntGuardianFire=false
    B:AWWayofTime.MinorDemonGruntGuardianIce=false
    B:AWWayofTime.MinorDemonGruntGuardianWind=false
    B:AWWayofTime.MinorDemonGruntIce=false
    B:AWWayofTime.MinorDemonGruntWind=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:AlienVillager=false
    B:Bat=false
    B:Blaze=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:CreeperBoss=false
    B:DMAdipose=false
    B:DMArm=false
    B:DMAuton=false
    B:DMBacteriaSpider=false
    B:DMBessie=false
    B:DMBody=false
    B:DMClara=false
    B:DMClockworkDroid=false
    B:DMCyberLeader=false
    B:DMCyberVillager=false
    B:DMCyberman=false
    B:DMCybermanNew=false
    B:DMDalekBase=false
    B:DMDalekBaseAPI=false
    B:DMDalekStorm=false
    B:DMDalekWeepingAngel=false
    B:DMDelorean=false
    B:DMEmptyChild=false
    B:DMEmptyNPC=false
    B:DMEmptyVillager=false
    B:DMEntityCleaner=false
    B:DMEntityGelGuard=false
    B:DMEntityTimelord=false
    B:DMEntityWhispermen=false
    B:DMGFCart=false
    B:DMIceWarrior=false
    B:DMIronsideDalek=false
    B:DMK9=false
    B:DMMCCZombie=false
    B:DMMarineDalek=false
    B:DMOWOSnail=false
    B:DMSkull=false
    B:DMSnowman=false
    B:DMTV21Dalek=false
    B:DMTardis=false
    B:DMUNIT=false
    B:DMhuman=false
    B:DMsilence=false
    B:DMsontaran=false
    B:DMzygon=false
    B:EAReplicator=false
    B:EnderDragon=false
    B:Enderman=false
    B:EntityChristmasVillager=false
    B:EntityCompanion=false
    B:EntityHorse=false
    B:EntitySteampunkDalek=false
    B:EntityTenthPlanetCyberman=false
    B:EntityWeepingSnowAngel=false
    B:EvolvedBlaze=false
    B:EvolvedCreeper=false
    B:EvolvedSkeleton=false
    B:EvolvedSkeletonBoss=false
    B:EvolvedSpider=false
    B:EvolvedZombie=false
    B:Ghast=false
    B:Giant=false
    B:LavaSlime=false
    B:MakianVillager=false
    B:MushroomCow=false
    B:NuclearMonster=false
    B:OpenBlocks.Luggage=false
    B:OpenBlocks.MiniMe=false
    B:Ozelot=false
    B:Paul=false
    B:Pig=false
    B:PigZombie=false
    B:RandomThings.spirit=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:Slimeling=false
    B:Sludgeling=false
    B:SnowMan=false
    B:Spider=false
    B:Squid=false
    B:VenusianVillager=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:WitherBoss=false
    B:Wolf=false
    B:Zombie=false
    B:iSnowman=false
}


wimpysettings {
    B:IDontLikeFun=false
    B:RespawnWithDebuff=true
    B:UseFancyBoundArmour=true
    B:causeHungerChatMessage=true
    B:causeHungerWithRegen=true
}


