# Configuration file

"agriculture options" {
    D:"infested leaf string chance"=0.4
}


"barrel options" {
    B:"enable barrel recipe (blaze rods)"=true
    B:"enable barrel recipe (clay)"=true
    B:"enable barrel recipe (dark oak)"=true
    B:"enable barrel recipe (dirt)"=true
    B:"enable barrel recipe (end stone)"=true
    B:"enable barrel recipe (ender pearls)"=true
    B:"enable barrel recipe (netherrack)"=true
    B:"enable barrel recipe (slime)"=true
    B:"enable barrel recipe (soul sand)"=true
}


colors {
    S:acacia=B8C754
    S:acacia_leaves=83CC47
    S:allium=F59DFA
    S:apple=FFF68F
    S:azure_bluet=E3E3E3
    S:beef_cooked=80543D
    S:beef_raw=FF4242
    S:birch=6CC449
    S:blue_orchid=33CFFF
    S:bread=D1AF60
    S:cactus=DEFFB5
    S:carrot=FF9B0F
    S:chicken_cooked=FA955F
    S:chicken_raw=FFE8E8
    S:dandelion=FFF461
    S:dark_oak=378030
    S:dirt=EEA96D
    S:dust=FFFEDB
    S:egg=FFFA66
    S:fish_cooked=D8EBE5
    S:fish_raw=6DCFB3
    S:gravel=E3E3E3
    S:jungle=22A116
    S:lilac=FCC7F0
    S:melon=FF443B
    S:mushroom_brown=CFBFB6
    S:mushroom_red=D6A8A5
    S:netherwart=FF2B52
    S:oak=35A82A
    S:orange_tulip=FF7E29
    S:oxeye_daisy=E9E9E9
    S:peony=F3D2FC
    S:pink_tulip=F5C4FF
    S:poppy=FF1212
    S:pork_cooked=FFFDBD
    S:pork_raw=FFA091
    S:potato=FFF1B5
    S:potato_baked=FFF1B5
    S:potato_poison=E0FF8A
    S:pumpkin=FFDB66
    S:pumpkin_pie=E39A6D
    S:red_tulip=FF3D12
    S:rose=FF1212
    S:rotten_flesh=C45631
    S:sand=FFFEA8
    S:silkworm_cooked=EDA17B
    S:silkworm_raw=FFFDC9
    S:soul_sand=8F5B4D
    S:spider_eye=963E44
    S:spruce=2E8042
    S:sugar_cane=9BFF8A
    S:sunflower=FFDD00
    S:tall_grass=23630E
    S:vine=23630E
    S:waterlily=269900
    S:wheat=E3E162
    S:white_tulip=FFFFFF
}


"compatibility options" {
    B:"overwrite default macerator recipes"=true
    B:"overwrite default pulverizer recipes"=true
}


"force ore to generate" {
    B:aluminum=false
    B:copper=false
    B:lead=false
    B:nickel=false
    B:osmium=false
    B:platinum=false
    B:silver=false
    B:tin=false
}


options {
    B:"barrels allowed"=true
    B:"crooks allowed"=true
    B:"crucibles allowed"=true
    B:"hammers allowed"=true
    B:"sieve automation allowed"=false
    I:"sieve frustration multiplier"=0
    B:"sieves allowed"=true
    B:"silkworms allowed"=true
}


"void generation options" {
    B:end=false
    B:nether=false
    B:nether_fortresses_allowed=false
    B:overworld=false
}


